main {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
}

.player-one, 
.player-two {
    height: 100%;
    width: 25%;
    background-image: linear-gradient(yellow,#ff0000);
}

.player-one-icon, 
.player-two-icon {
    line-height: 3;
    margin: 0;
}

.player-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 50px;
}

.player-one-wins, 
.player-two-wins {
    margin-top: -40px;
    color: rgb(0, 115, 255);
    font-weight: 530;
}

.game-screen {
    width: 50%;
    height: 100%;
}
.game-status {
    font-size: 50px;
    color: rgb(0, 115, 255);
    font-weight: 530;
}

.game-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.grid-container {
    margin-top: 10%;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    cursor: pointer;
}

.grid-item {
    display: flex;
    height: 125px;
    width: 125px;
    font-size: 75px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 3.5px solid;
    border-image: linear-gradient(45deg, red, blue) 1;
}

.grid-item#one, 
.grid-item#two, 
.grid-item#three {
    border-top: none;
}

.grid-item#one, 
.grid-item#four, 
.grid-item#seven {
    border-left: none;
}

.grid-item#three, 
.grid-item#six, 
.grid-item#nine {
    border-right: none;
}

.grid-item#seven, 
.grid-item#eight, 
.grid-item#nine {
    border-bottom: none;
}

